<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styles/output.css" />
    <title>Services</title>
  </head>
  <body class="h-full w-full bg-zinc-950">
    <div class="container h-screen w-full text-white">
      <nav
        class="h-20 w-full flex items-center justify-between relative bg-zinc-950"
      >
        <div class="logo h-1/2 w-1/5">
          <a href="/"
            ><img
              class="h-full w-full object-cover object-center"
              src="../images/logo.png"
              alt=""
          /></a>
        </div>
        <div class="navLinks">
          <ul class="flex items-center justify-betwen text-sm gap-3">
            <li
              class="list-none h-9 w-28 flex rounded-2xl items-center justify-center hover:bg-zinc-700 hover:duration-300 hover:ease-in-out"
              id="home"
            >
              <a class="text-white decoration-none p1" href="/">Home</a>
            </li>
            <li
              class="list-none h-9 w-28 flex rounded-2xl items-center justify-center hover:bg-zinc-700 hover:duration-300 hover:ease-in-out bg-zinc-700"
            >
              <a class="text-white decoration-none p1" href="/services"
                >Services</a
              >
            </li>
            <li
              class="list-none h-9 w-28 flex rounded-2xl items-center justify-center hover:bg-zinc-700 hover:duration-300 hover:ease-in-out"
            >
              <a class="text-white decoration-none p1" href="/">Projects</a>
            </li>
            <li
              class="list-none h-9 w-28 flex rounded-2xl items-center justify-center hover:bg-zinc-700 hover:duration-300 hover:ease-in-out"
            >
              <a class="text-white decoration-none p1" href="/">About Us</a>
            </li>
            <li
              class="list-none h-9 w-28 flex rounded-2xl items-center justify-center hover:bg-zinc-700 hover:duration-300 hover:ease-in-out"
            >
              <a class="text-white decoration-none p1" href="/">Contact Us</a>
            </li>
            <li
              class="list-none h-9 w-28 flex rounded-2xl items-center justify-center hover:bg-zinc-700 hover:duration-300 hover:ease-in-out"
            >
              <a class="text-white decoration-none p1" href="/">Careers</a>
            </li>
            <li
              class="list-none h-9 w-28 flex rounded-2xl items-center justify-center hover:bg-zinc-700 hover:duration-300 hover:ease-in-out"
            >
              <a class="text-white decoration-none p1" href="/">Blog</a>
            </li>
          </ul>
        </div>
        <div
          class="hamburger lg:hidden absolute top-0 right-0 h-5 w-5 rounded-[50%] bg-zinc-950 duration-300 ease-in transition-all p-4 flex items-center justify-center"
        >
          <i class="fa-solid fa-bars"></i>
        </div>
      </nav>
    </div>
  </body>
</html>
